USE [PE_PRN_Fall2023B1]
GO
/****** Object:  Table [dbo].[Directors]    Script Date: 4/19/2024 8:46:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Dob] [date] NULL,
	[Description] [nvarchar](max) NULL,
	[Male] [bit] NULL,
	[Nationality] [nvarchar](255) NULL,
 CONSTRAINT [PK__Director__3214EC07A4471AD5] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 4/19/2024 8:46:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK__Genres__3214EC07D06A88DE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Genre]    Script Date: 4/19/2024 8:46:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Genre](
	[MovieId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Star]    Script Date: 4/19/2024 8:46:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Star](
	[MovieId] [int] NOT NULL,
	[StarId] [int] NOT NULL,
	[Position] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[StarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 4/19/2024 8:46:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Year] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[DirectorId] [int] NOT NULL,
 CONSTRAINT [PK__Movies__3214EC07B9A2F7FE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 4/19/2024 8:46:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Capacity] [int] NULL,
 CONSTRAINT [PK__Room__3214EC0726CB72F3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 4/19/2024 8:46:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MovieId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[TimeSlotId] [int] NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Schedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stars]    Script Date: 4/19/2024 8:46:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Male] [bit] NULL,
	[Description] [nvarchar](max) NULL,
	[Dob] [date] NULL,
	[Nationality] [nvarchar](255) NULL,
 CONSTRAINT [PK__Stars__3214EC07B96D5273] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlots]    Script Date: 4/19/2024 8:46:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlots](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
 CONSTRAINT [PK__TimeSlot__3214EC07D64F6E27] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Directors] ON 

INSERT [dbo].[Directors] ([Id], [Name], [Dob], [Description], [Male], [Nationality]) VALUES (1, N'Christopher Nolan', CAST(N'1970-07-30' AS Date), N'British-American director', 1, N'British')
INSERT [dbo].[Directors] ([Id], [Name], [Dob], [Description], [Male], [Nationality]) VALUES (2, N'Quentin Tarantino', CAST(N'1963-03-27' AS Date), N'American director', 1, N'American')
INSERT [dbo].[Directors] ([Id], [Name], [Dob], [Description], [Male], [Nationality]) VALUES (3, N'Greta Gerwig', CAST(N'1983-08-04' AS Date), N'American director', 0, N'American')
SET IDENTITY_INSERT [dbo].[Directors] OFF
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([Id], [Title], [Description]) VALUES (1, N'Science Fiction', N'Movies with futuristic and scientific themes')
INSERT [dbo].[Genres] ([Id], [Title], [Description]) VALUES (2, N'Thriller', N'Movies that create tension and excitement')
INSERT [dbo].[Genres] ([Id], [Title], [Description]) VALUES (3, N'Crime', N'Movies involving criminal activities')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
INSERT [dbo].[Movie_Genre] ([MovieId], [GenreId]) VALUES (1, 1)
INSERT [dbo].[Movie_Genre] ([MovieId], [GenreId]) VALUES (1, 2)
INSERT [dbo].[Movie_Genre] ([MovieId], [GenreId]) VALUES (2, 3)
GO
INSERT [dbo].[Movie_Star] ([MovieId], [StarId], [Position]) VALUES (1, 1, N'Lead Male')
INSERT [dbo].[Movie_Star] ([MovieId], [StarId], [Position]) VALUES (1, 2, N'Supporting Male')
INSERT [dbo].[Movie_Star] ([MovieId], [StarId], [Position]) VALUES (1, 3, N'Supporting Female')
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([Id], [Title], [Year], [Description], [DirectorId]) VALUES (1, N'Inception', 2010, N'Science fiction thriller', 1)
INSERT [dbo].[Movies] ([Id], [Title], [Year], [Description], [DirectorId]) VALUES (2, N'Pulp Fiction', 1994, N'Crime drama', 2)
INSERT [dbo].[Movies] ([Id], [Title], [Year], [Description], [DirectorId]) VALUES (3, N'Little Women', 2019, N'Period drama', 3)
SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([Id], [Title], [Capacity]) VALUES (1, N'Room A', 150)
INSERT [dbo].[Rooms] ([Id], [Title], [Capacity]) VALUES (2, N'Room B', 200)
INSERT [dbo].[Rooms] ([Id], [Title], [Capacity]) VALUES (3, N'Room C', 120)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedules] ON 

INSERT [dbo].[Schedules] ([Id], [MovieId], [RoomId], [TimeSlotId], [StartDate], [EndDate], [Note]) VALUES (281, 1, 1, 1, CAST(N'2023-10-01' AS Date), CAST(N'2023-10-08' AS Date), N'Special screening')
INSERT [dbo].[Schedules] ([Id], [MovieId], [RoomId], [TimeSlotId], [StartDate], [EndDate], [Note]) VALUES (282, 1, 2, 2, CAST(N'2023-10-09' AS Date), CAST(N'2023-10-16' AS Date), N'Regular screening')
INSERT [dbo].[Schedules] ([Id], [MovieId], [RoomId], [TimeSlotId], [StartDate], [EndDate], [Note]) VALUES (283, 1, 3, 3, CAST(N'2023-10-17' AS Date), CAST(N'2023-10-24' AS Date), N'Matinee show')
SET IDENTITY_INSERT [dbo].[Schedules] OFF
GO
SET IDENTITY_INSERT [dbo].[Stars] ON 

INSERT [dbo].[Stars] ([Id], [Name], [Male], [Description], [Dob], [Nationality]) VALUES (1, N'Leonardo DiCaprio', 1, N'American actor', CAST(N'1974-11-11' AS Date), N'American')
INSERT [dbo].[Stars] ([Id], [Name], [Male], [Description], [Dob], [Nationality]) VALUES (2, N'Brad Pitt', 1, N'American actor', CAST(N'1963-12-18' AS Date), N'American')
INSERT [dbo].[Stars] ([Id], [Name], [Male], [Description], [Dob], [Nationality]) VALUES (3, N'Saoirse Ronan', 0, N'Irish-American actress', CAST(N'1994-04-12' AS Date), N'Irish')
SET IDENTITY_INSERT [dbo].[Stars] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSlots] ON 

INSERT [dbo].[TimeSlots] ([Id], [StartTime], [EndTime]) VALUES (1, CAST(N'09:00:00' AS Time), CAST(N'11:00:00' AS Time))
INSERT [dbo].[TimeSlots] ([Id], [StartTime], [EndTime]) VALUES (2, CAST(N'12:00:00' AS Time), CAST(N'14:00:00' AS Time))
INSERT [dbo].[TimeSlots] ([Id], [StartTime], [EndTime]) VALUES (3, CAST(N'15:00:00' AS Time), CAST(N'17:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[TimeSlots] OFF
GO
ALTER TABLE [dbo].[Movie_Genre]  WITH CHECK ADD  CONSTRAINT [FK__Movie_Gen__Genre__44FF419A] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([Id])
GO
ALTER TABLE [dbo].[Movie_Genre] CHECK CONSTRAINT [FK__Movie_Gen__Genre__44FF419A]
GO
ALTER TABLE [dbo].[Movie_Genre]  WITH CHECK ADD  CONSTRAINT [FK__Movie_Gen__Movie__440B1D61] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([Id])
GO
ALTER TABLE [dbo].[Movie_Genre] CHECK CONSTRAINT [FK__Movie_Gen__Movie__440B1D61]
GO
ALTER TABLE [dbo].[Movie_Star]  WITH CHECK ADD  CONSTRAINT [FK__Movie_Sta__Movie__3E52440B] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([Id])
GO
ALTER TABLE [dbo].[Movie_Star] CHECK CONSTRAINT [FK__Movie_Sta__Movie__3E52440B]
GO
ALTER TABLE [dbo].[Movie_Star]  WITH CHECK ADD  CONSTRAINT [FK__Movie_Sta__StarI__3F466844] FOREIGN KEY([StarId])
REFERENCES [dbo].[Stars] ([Id])
GO
ALTER TABLE [dbo].[Movie_Star] CHECK CONSTRAINT [FK__Movie_Sta__StarI__3F466844]
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD  CONSTRAINT [FK__Movies__Director__398D8EEE] FOREIGN KEY([DirectorId])
REFERENCES [dbo].[Directors] ([Id])
GO
ALTER TABLE [dbo].[Movies] CHECK CONSTRAINT [FK__Movies__Director__398D8EEE]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK__Schedule__MovieI__5EBF139D] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([Id])
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK__Schedule__MovieI__5EBF139D]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK__Schedule__RoomId__5CD6CB2B] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK__Schedule__RoomId__5CD6CB2B]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK__Schedule__TimeSl__5DCAEF64] FOREIGN KEY([TimeSlotId])
REFERENCES [dbo].[TimeSlots] ([Id])
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK__Schedule__TimeSl__5DCAEF64]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [CK__Room__Capacity__4AB81AF0] CHECK  (([Capacity]>=(0)))
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [CK__Room__Capacity__4AB81AF0]
GO
ALTER TABLE [dbo].[TimeSlots]  WITH CHECK ADD  CONSTRAINT [CK__TimeSlot__47DBAE45] CHECK  (([endtime]>=[StartTime]))
GO
ALTER TABLE [dbo].[TimeSlots] CHECK CONSTRAINT [CK__TimeSlot__47DBAE45]
GO
